<svg width="320" height="{{height}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-labelledby="cardTitle" role="img">
  <title id="cardTitle">Now playing on Jellyfin</title>
  <foreignObject width="320" height="{{height}}">
    <style>
      div {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
      }

      .container {
        background-color: #{{background_color}};
        border-radius: {{border_radius}}px;

        padding: 10px 10px
      }

      .playing {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #00A4DC;
        font-weight: bold;
        text-align: center;

        margin-bottom: 8px;
      }

      .not-play {
        color: #ff1616;
        text-align: center;

        margin-bottom: 0;
      }

      .artist {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        text-align: center;

        margin-bottom: 5px;
      }

      .song {
        color: #b3b3b3;
        font-size: 16px;
        text-align: center;

        margin-bottom: 22px;
      }

      .logo {
        margin-left: 5px;
        vertical-align: middle;
      }

      .cover {
        border-radius: 5px;
        object-fit: cover;
      }

      #bars {
        height: 30px;
        margin: -29px 0 0 0px;
        position: absolute;
        width: 40px;
      }

      .bar {
        background: #{{bar_color|safe}};
        bottom: 1px;
        height: 3px;
        position: absolute;
        width: 3px;
        animation: sound 0ms -800ms linear infinite alternate;
        {% if is_paused %}animation-play-state: paused;{% endif %}
      }

      @keyframes sound {
        0% {
          opacity: .35;
          height: 3px;
        }

        100% {
          opacity: 1;
          height: 22px;
        }
      }

      {{css_bar|safe}}
    </style>
    <div xmlns="http://www.w3.org/1999/xhtml" class="container">
      {% if song_name %}
        <div class="playing">
          {{- title_text }} on <svg class="logo" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#00A4DC" d="M12 .002C8.826.002-1.398 18.537.16 21.666c1.56 3.129 22.14 3.094 23.682 0C25.384 18.573 15.177 0 12 0zm7.76 18.949c-1.008 2.028-14.493 2.05-15.514 0C3.224 16.9 9.92 4.755 12.003 4.755c2.081 0 8.77 12.166 7.759 14.196zM12 9.198c-1.054 0-4.446 6.15-3.93 7.189.518 1.04 7.348 1.027 7.86 0 .511-1.027-2.874-7.19-3.93-7.19z"/></svg>
        </div>
        <div class="artist">{{artist_name|safe}}</div>
        <div class="song">{{song_name|safe}}</div>
        <div id='bars'>{{content_bar|safe}}</div>

        {% if cover_image %}
          <a href="{}" target="_BLANK">
            <center>
              <img src="data:image/png;base64, {{img}}" width="300" height="300" class="cover" />
            </center>
          </a>
        {% endif %}

      {% else %}
        <div class="playing not-play">Nothing playing on Jellyfin</div>
      {% endif %}

    </div>
  </foreignObject>
</svg>
